.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  color: white;
}

main {
  flex: 1;
  overflow: hidden;
}
